body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'VT323', monospace;
  background-color: #c4cfa3;
}

#game-board {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  margin: 0;
  overflow: hidden;
}

#instruction-text {
  position: absolute;
  top: 60%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.snake {
  background-color: #414141;
  border: #5a5a5a 1px dotted;
}

.food {
  background-color: #dedede;
  border: #999 5px solid;
}
